# Python-specific ignores
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/
*.whl

# Streamlit-specific ignores
.streamlit/
streamlit-geh.log

# Jupyter Notebook ignores
*.ipynb_checkpoints/
*.ipynb_checkpoints

# Pylint-related ignores
.pylintrc  
# Temporary files and uploads
static/uploads/*
*.utf8  
*.tmp

# Logs
*.log
logs/

# Environment and IDE files
.env
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/